<h1>Listing cancerwords</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cancerwords.each do |cancerword| %>
  <tr>
    <td><%= cancerword.name %></td>
    <td><%= cancerword.count %></td>
    <td><%= link_to 'Show', cancerword %></td>
    <td><%= link_to 'Edit', edit_cancerword_path(cancerword) %></td>
    <td><%= link_to 'Destroy', cancerword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cancerword', new_cancerword_path %>
