<div class='wrapper'>
<div class = 'header'>
  <div id="search">
	<form method="get" id="searchform" action="/posts/s">
		<input type="text" class="field" name="key" id="key"  value="Search ..." onfocus="if (this.value == 'Search ...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search ...';}" />
		<input class="submit btn" type="image" src="/images/icon-search.gif" value="Go" />
	</form>
  </div><!--end #search -->

  <div class = 'header_pagination'>
    <%= will_paginate %>
  </div>
</div>

<div class = 'sidebar_left'>
  <div class = 'related_entry'><a href='/posts/s?key='>所有</a></div>
  <br/>
  <div class = 'main_entry'><%= params[:key] %></div>
  <div class = 'related_entry'><a href='/posts/s?key=乳癌'>乳癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=喉癌'>喉癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=肝癌'>肝癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=肺癌'>肺癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=胃癌'>胃癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=脑肿瘤'>脑肿瘤</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=鼻咽癌'>鼻咽癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=食道癌'>食道癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=大肠癌'>大肠癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=膀胱癌'>膀胱癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=子宫癌'>子宫癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=白血病'>白血病</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=宫颈癌'>宫颈癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=皮肤癌'>皮肤癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=卵巢癌'>卵巢癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=胰腺癌'>胰腺癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=淋巴水肿'>淋巴水肿</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=甲状腺癌'>甲状腺癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=前列腺癌'>前列腺癌</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=口腔癌'>口腔癌</a></div>
  <br/>
  <div class = 'related_entry'><a href='/posts/s?key=化学治疗'>化学治疗</a></div>
  <div class = 'related_entry'><a href='/posts/s?key=放射治疗'>放射治疗</a></div>
  
  <br/>
  <div class = 'related_entry'><a href='http://www.tianya.cn/new/techforum/ArticlesList.asp?pageno=1&iditem=100&part=0&subitem=%D6%D7%C1%F6%BF%C6'>天涯论坛</a></div>
  
</div>
<div class = 'main'>


<% @posts.each do |post| %>
  <div class = 'entry'>
    <div class = 'entry_title'>
	  <a href = <%= post.link %> target="_blank"><%= post.title %></a>
	</div>
	<div class = 'entry_other_fields'>
	  <%= post.author %> &nbsp; &nbsp; &nbsp; <%= post.date %> &nbsp; &nbsp; &nbsp; 
	  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>
  </div>
<% end %>

<%= will_paginate %>

<br />

<%= link_to 'New Post', new_post_path %>


</div>
</div>
