<div class='wrapper'>
<div class = 'header'>
  <div id="search">
	<form method="get" id="searchform" action="/posts/s">
		<input type="text" class="field" name="key" id="key"  value="Search ..." onfocus="if (this.value == 'Search ...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search ...';}" />
		<input class="submit btn" type="image" src="/images/icon-search.gif" value="Go" />
	</form>
  </div><!--end #search -->

  <div class = 'header_pagination'>
    <%= will_paginate %>
  </div>
</div>

<div class = 'sidebar_left'>
  <div class = 'related_entry'><%= link_to '设置词条', '/cancerwords' %></div>
  <br/>
  <div class = 'related_entry'><a href='/posts/s?key='>所有</a></div>
  <br/>
  <div class = 'main_entry'><%= params[:key] %></div>
  <br/>
  
<% @words.each do |cancerword| %>
  <div class = 'related_entry'>
    <a href='/posts/s?key=<%= cancerword.name %>'><%= cancerword.name %>
    (<%= cancerword.count %>)</a>
  </div>
<% end %>


  <br/>
  <div class = 'related_entry'><a href='http://www.tianya.cn/new/techforum/ArticlesList.asp?pageno=1&iditem=100&part=0&subitem=%D6%D7%C1%F6%BF%C6'>天涯论坛</a></div>
  
</div>
<div class = 'main'>


<% @posts.each do |post| %>
  <div class = 'entry'>
    <div class = 'entry_title'>
	  <a href = <%= post.link %> target="_blank"><%= post.title %></a>
	  <% if (post.date.to_i - Time.now.to_i).abs < 3600 * 24 * 10 %> <img src='/images/new2.jpg' height = 20px/> <% end %>
	</div>
	<div class = 'entry_other_fields'>
	  <%= post.author %> &nbsp; &nbsp; &nbsp; <%= post.date %> &nbsp; &nbsp; &nbsp; 
	  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>
  </div>
<% end %>

<%= will_paginate %>

<br />

<%= link_to 'New Post', new_post_path %>


</div>
</div>
