<div class='wrapper'>
<div class = 'header'>
  <div class = 'header_item'><a href='http://www.tianya.cn/new/techforum/ArticlesList.asp?pageno=1&iditem=100&part=0&subitem=%D6%D7%C1%F6%BF%C6'>天涯肿瘤科论坛</a></div>
  <div class = 'header_pagination'>
    <%= will_paginate %>
  </div>
</div>

<div class = 'sidebar_left'>
  <div class = 'main_entry'><%= params[:key] %></div>
  <div class = 'related_entry'><a href='#id.htm'>直肠癌</a></div>
  <div class = 'related_entry'><a href='#id.htm'>#title</a></div>
</div>
<div class = 'main'>


<% @posts.each do |post| %>
  <div class = 'entry'>
    <div class = 'entry_title'>
	  <a href = <%= post.link %> target="_blank"><%= post.title %></a>
	</div>
	<div class = 'entry_other_fields'>
	  <%= post.author %> &nbsp; &nbsp; &nbsp; <%= post.date %> &nbsp; &nbsp; &nbsp; 
	  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>
  </div>
<% end %>

<%= will_paginate %>

<br />

<%= link_to 'New Post', new_post_path %>


</div>
</div>
